{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5">
        <div class="container py-5">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="display-4 mb-4 mb-md-0 text-secondary text-uppercase">Project</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-sm btn-outline-light" href="{% url 'index' %}">Home</a>
                        <i class="fas fa-angle-double-right text-light mx-2"></i>
                        <a class="btn btn-sm btn-outline-light disabled" href="">Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Portfolio Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-end mb-4">
                <div class="col-lg-6">
                    <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Our Projects</h6>
                    <h1 class="section-title mb-3">Visit Our Awesome Cleaning Projects</h1>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <ul class="list-inline mb-2" id="portfolio-flters">
                        <li class="btn btn-sm btn-outline-primary m-1 active"  data-filter="*">All</li>
                        {% for cat in catImg %}
                             <li class="btn btn-sm btn-outline-primary m-1" data-filter=".{{ cat.imgName }}">{{ cat.imgName }}</li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class="row m-0 portfolio-container">
                {% for items in posts %}
                <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item p-1 {{ items.cat_id }}">
                    <div class="position-relative overflow-hidden">
                        <div class="portfolio-img">
                            <img style="max-height: 200px" class="img-fluid min-vh-25 w-100" src="{{ items.get_image }}" alt="">
                        </div>
                        <div class="portfolio-text bg-primary">
                            <h4 class="font-weight-bold mb-4">{{ items.cat_id }}</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-sm btn-secondary m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-sm btn-secondary m-1" href="{{ items.get_image }}" data-lightbox="portfolio">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        </div>
    </div>
    <!-- Portfolio End -->

{% endblock content %}